%h1 Editing comment
= render "form", comment: @comment
%br/
%div
  = link_to "Show this comment", community_post_comment_path(@community, @post, @comment)
  
  = link_to "Back to comments", community_post_comment_path(@community, @post)
