%div{:id => "#{dom_id community_participant}"}
  %p
    %strong Community:
    = community_participant.community_id
  %p
    %strong User:
    = community_participant.user_id
  %p
    %strong Role:
    = community_participant.role
