<div id="<%= dom_id community_participant %>">
  <p>
    <strong>Community:</strong>
    <%= community_participant.community_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= community_participant.user_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= community_participant.role %>
  </p>

</div>
