%p{:style => "color: green"}= notice
%h1 Community participants
#community_participants
  - @community_participants.each do |community_participant|
    = render community_participant
    %p
      = link_to "Show this community participant", community_community_participant_path(@community, community_participant)
= link_to "New community participant", new_community_community_participant_path(@community)
