<h1>New community participant</h1>

<%= render "form", community_participant: @community_participant %>

<br>

<div>
  <%= link_to "Back to community participants", community_participants_path %>
</div>
