.lists
  .my-communities
    .data-card
      %h1{style: "margin-bottom: 1.5rem;"} Editar anúncio
      = render "form", post: @post
      = link_to "Voltar", community_post_path(@community, @post), class: "button small-button"