.lists
  .my-communities
    .data-card
      %h1{style: "margin-bottom: 1.5rem;"} Criar anúncio
      = render "form", post: @post
      = link_to "Voltar", community_path(@community), class: "button small-button"