/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;

}


/* navbar */

nav {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-link {
  
}

.logo {
  width: 3rem;
}

.user-nav {
  display: flex;
  align-items: center;
}

.logout {
  width: 2rem;
  margin-right: 1rem;
}

.pfp img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}


/* tabs dashboard */
.dashboard {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}

.lists {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.lists .title {
  margin-bottom: 1rem;
}





.tabs-row {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #133E3B;
  transition: all .15s;
  cursor: pointer;

  font-size: 1.2rem;
  text-align: center;
}

.tab:hover {
  border-bottom: 4px solid #3ABAB2;
}

.tab.active {
  border-bottom: 4px solid #3ABAB2;
}

.my-communities {
  margin: 3rem 2rem;
}

.my-liked-ads {
  margin: 0 2rem;
}

.nav-link
{
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 1rem;
}

/* cards */

.card {
  background: rgba(217, 217, 217, 0.45);
  border-radius: 20px;
  display: flex;
  padding: 1rem;
  max-height: 10rem;
  transition: all .15s;
}

.card:hover {
  transform: scale(1.02);
  background: rgba(217, 217, 217, 0.65);
}

.card-content {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: normal;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;

}

.card-content p {
  font-size: 1.25rem;
  font-weight: normal;
}

.card-content h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.card-image img {
  width: 8rem;
  border-radius: 10px;
  margin-right: 2rem;
}

.cards-list > .card {
  margin-bottom: 1rem;
}

.community-nav-link {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 1rem;

}

/* login */

.login-form {
  display: flex;
  width: 100%;
  height: calc(100vh - 4rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
  align-items: center;
  justify-content: center;
}

.login .logo {
  width: 5rem;
  margin-bottom: 5rem;
}
/* fields */

.field {
  width: 100%;
  margin-bottom: 4rem;
}

.input {
  width: 100%;
  height: 3rem;
  border: none;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  background: transparent;
  border-bottom: 3px solid #133E3B;
  outline: none;
}

.forgot-password {
  text-decoration: none;
  color: #000000;
  font-size: 0.8rem;
  font-weight: 500;
}

.forgot-password-container {
  margin-top: 0.5rem;
}

.input:focus {
  border-bottom: 3px solid #3ABAB2;
}

.logo-nav {
  display: flex;
  align-items: center;
}

.arrow {
  min-width: 1.70rem;
  min-height: 1.70rem;
  width: 1.70rem;
  margin-right: 1rem;
}

.button {
  border: none;
  background: #267C76;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  transition: all .15s;
}

.button:hover {
  background: #3ABAB2;
}

.button-login {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}

.register {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 500;
}
/* posts */

.title-posts {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* post show */
.like-button:active {
  color: red;
}

/* user data */

.data-card {
  display: flex;
  background: rgba(217, 217, 217, 0.45);
  border-radius: 20px;
  padding: 1rem;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.big-pfp {
  width: 10rem;
  border-radius: 50%;
  margin-right: 1rem;
}