<div id="<%= dom_id community %>">
  <p>
    <strong>Name:</strong>
    <%= community.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= link_to community.image.filename, community.image if community.image.attached? %>
  </p>

</div>
