%p{:style => "color: green"}= notice
%h1 Communities
#communities
  - @communities.each do |community|
    = render community
    %p
      = link_to "Mostrar comunidade", community
= link_to "Nova comunidade", new_community_path
